<div class="row">
  <div class="alert alert-danger mt-4 text-center fw-bold fs-2" role="alert">
    Caja registradora
  </div>
</div>
<div class="row">
  <div class="col-9">
    <app-lista-productos
      titulo="Comidas"
      [productos]="arrComidas"
      (productoSeleccionado)="onProductoSeleccionado($event)"
    ></app-lista-productos>
    <app-lista-productos
      titulo="Bebidas"
      [productos]="arrBebidas"
      (productoSeleccionado)="onProductoSeleccionado($event)"
    ></app-lista-productos>
  </div>
  <div class="col-3">
    <app-comanda [arrProductos]="productosSeleccionados"></app-comanda>
  </div>
</div>
