<div class="row mt-2">
  <div class="alert alert-dark" role="alert">{{ titulo }}</div>
</div>
<div class="d-flex flex-row justify-content-center flex-wrap gap-3">
  <div
    *ngFor="let producto of productos"
    (click)="onClick(producto)"
    class="card gap-2"
    style="width: 12rem"
  >
    <img src="{{ producto.imgUrl }}" class="card-img-top" alt="..." />
    <div class="card-body text-center">
      <h5 class="card-title">{{ producto.nombre }}</h5>
      <p class="card-text">{{ producto.precio }}</p>
    </div>
  </div>
</div>
